html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background: #eff1f4;
  color: #262626;
  font-family: 'robotoregular', sans-serif;
  font-weight normal;
}

.inner {
  max-width: 1200px;
  min-height: 600px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

h1 {
  text-align center;
  font-weight normal;
  margin 2rem 0;
  font-size: 10rem;
  font-family: 'pacificoregular';
  text-shadow: 0px 4px 0 rgba(18, 86, 136, 0.11);
  a {
    text-decoration: none;
    color: #125688;
    letter-spacing: 2px;
  }
}

h2,h3,h4,h5,h6 {
  font-family: 'robotomedium';
  font-weight normal;
  font-size: 1.6rem;
  text-transform: uppercase;
}

h2 {
  text-align center;
  margin-top 0;
  margin-bottom 1rem;
}




